{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock title%}
{% block content %}
<br>
<div class="container" style="border: none; padding:10px">
    <h1 align="center"> Meet the Team </h1><hr>
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
            <img src="{% static 'richard.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Richard Bailon</h5>
                <hr>
                <p class="card-text">
                    Proud to be a part of CS3337 Group 1.
                    I hope everyone can enjoy our book exchange website!
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
            <img src="{% static 'thomas.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Thomas Benson</h5>
                <hr>
                <p class="card-text">
                    Computer Science major at Cal State LA.
                    Outside of coding, I enjoy following the markets and playing video games.
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
            <img src="{% static 'martin.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Martin Castorena</h5>
                <hr>
                <p class="card-text">
                    Computer Science Major.
                    Enjoys holding hands and long walks on the beach.
                    Let's talk Forex.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
            <img src="{% static 'josh.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Joshua Chavez</h5>
                <hr>
                <p class="card-text">
                    Jr currently attending CSULA and working towards achieving my bachelors in Computer Science.
                    I've been messing around with computers since the age of 7.
                    I also have a passion for PC Hardware.
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
            <img src="{% static 'profile.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Robert Cueto</h5>
                <hr>
                <p class="card-text">(Add short bio here.)</p>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
            <img src="{% static 'profile.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Helen Dam</h5>
                <hr>
                <p class="card-text">
                    Computer Science major at CSULA.
                    I enjoy reading, playing video games with friends, and doing jigsaw puzzles.
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock content %}