{% extends 'base.html' %}
{% load static %}
{% block title %} Book Deleted {% endblock title%}
{% block content %}
<br><br><br>
<div class="row justify-content-center">
    <div class="card" style="width: 20rem; border: none;">
        <img src="{% static 'palms.jpg' %}" height="300" class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 16rem; border: none;">
        <h1 class="card-text" align="center">Book Deleted</h1>
    </div>
    <div class="card" style="width: 20rem; border: none;">
        <img src="{% static 'palms.jpg' %}" height="300" class="card-img-top" alt="...">
    </div>
</div>
<br><br><br>
{% endblock content %}