{% extends 'base.html' %}
{% load static %}
{% block title %} Book Detail {% endblock title%}

{% block content %}

<div class="row justify-content-center">
    <div class="card" style="width: 20rem; background-color: lightgrey; margin-right: 15px; margin-top: 15px;">
        <img src="{% static book.pic_path  %}" width="100%" height="100%"/>
    </div>
    <div class="card" style="width: 16rem; background-color: lightgrey; margin-right: 15px; margin-top: 15px;">
        <div class="card-body">
            <h1 class="card-title" align="center">{{book.name}}</h1>
            <hr>
            <p class="card-title" align="center"> ${{book.price}}</p>
            <hr>
            <p class="card-text" align="center">Posted By: {{book.username}}</p>
            <hr>
            <p class="card-text" align="center">Website: {{book.web}}</p>
            <hr>
            <p class="card-text" align="center">Posted On: {{book.publishdate}}</p>
        </div>
    </div>
</div>

<br><br><h4> Comments</h4>
{% if not book.comments.all %}
<p>No comments posted.</p>
{% else %}
    {% for comment in book.comments.all %}
        <div class="row justify-content-center border border-dark p-3" style="margin-left:10px; margin-right: 10px; background-color: white;">
            <div class="col-1 border border-dark" style="background-color: lightgrey;">
            {{ comment.name }}
            </div>
            <div class="col ">
            {{ comment.body }} <br><br>
                <p align="right">{{ comment.date_added }}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}
<br/><br/>

<a class="btn btn-primary" href="/postcomment/{{ book.id }}">Add Comment</a>

{% endblock content %}