{% extends 'base.html' %}
{% load static %}
{% block title %} Welcome {% endblock title%}
{% block content %}
<br>
<div class="row justify-content-center">
    <div class="card" style="width: 20rem; border: none;">
        <img src="{% static 'palms.jpg' %}" height="300" class="card-img-top" alt="...">
    </div>
    <div class="card" style="width: 30rem;">
        <img src="{% static 'logo.jpeg' %}" height="300" class="card-img-top" alt="...">
        <br><h1 class="card-title" align="center"> Welcome to the Book Exchange </h1><br>
    </div>
    <div class="card" style="width: 20rem; border: none;">
        <img src="{% static 'palms.jpg' %}" height="300" class="card-img-top" alt="...">
    </div>
</div>
{% endblock content %}
