{% extends 'base.html' %}
{% load static %}
{% block title %} Shopping Cart {% endblock title%}
{% block content %}
{% if cartempty %}
<br><br><h1 align="center">{{ username }}'s Cart is Empty</h1><br><br>
{% else %}
<h1 align="center">{{ username }}'s Cart</h1>
<table class="table" style="width: 36rem;" align="center">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Item#</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td></td>
            <td scope="row">{{ forloop.counter }}</td>
            <td><img src="{% static book.pic_path %}"/></td>
            <td>{{ book.name }}</td>
            <td>{{ book.price }}</td>
            <td><a href="/removefromcart/{{ book.id }}">Remove Item</a></td>
        </tr>
    {% endfor %}
        <tr>
            <td scope="row">Subtotal</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ subtotal }}</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Taxes</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ tax|floatformat:2 }}</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <th>{{ total|floatformat:2 }}</th>
            <td></td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock content %}